/*******************
 * check and radio *
 *******************/
/* draw regular check and radio items using our assets */
check,
check row:selected,
check row:selected:focus {
    -gtk-icon-source: url("assets/checkbox-unchecked.png");
}

check:disabled,
check row:selected:disabled,
check row:selected:focus:disabled {
    -gtk-icon-source: url("assets/checkbox-unchecked-disabled.png");
}

check:hover,
check row:selected:hover,
check row:selected:focus:hover {
    -gtk-icon-source: url("assets/checkbox-unchecked-over.png");
}

check:checked,
check row:selected:checked,
check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked.png");
}

check:checked:hover,
check row:selected:checked:hover,
check row:selected:focus:checked:hover {
    -gtk-icon-source: url("assets/checkbox-checked-over.png");
}

check:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled {
    -gtk-icon-source: url("assets/checkbox-checked-disabled.png");
}

check:indeterminate,
check row:selected:indeterminate,
check row:selected:focus:indeterminate {
    -gtk-icon-source: url("assets/checkbox-mixed.png");
}

check:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled {
    -gtk-icon-source: url("assets/checkbox-mixed-disabled.png");
}


radio,
.view.cellradio {
    -gtk-icon-source: url("assets/radio-unselected.png");
}

radio:disabled {
    -gtk-icon-source: url("assets/radio-unselected-disabled.png");
}

radio:hover {
    -gtk-icon-source: url("assets/radio-unselected-over.png");
}

radio:checked {
    -gtk-icon-source: url("assets/radio-selected.png");
}

radio:checked:hover {
    -gtk-icon-source: url("assets/radio-selected-over.png");
}

radio:checked:disabled {
    -gtk-icon-source: url("assets/radio-selected-disabled.png");
}

radio:indeterminate {
    -gtk-icon-source: url("assets/radio-mixed.png");
}

radio:indeterminate:disabled {
    -gtk-icon-source: url("assets/radio-mixed-disabled.png");
}

/********************************
 * Touch text selection handles *
 ********************************/
.cursor-handle.bottom {
	-gtk-icon-source: url("assets/slider-horiz.png");
}

.cursor-handle.top {
	-gtk-icon-source: url("assets/slider-horiz.png");
}

/* menuitem */

menuitem check:checked {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked.png");
}

menuitem check:checked:disabled {
    -gtk-icon-source: url("assets/menuitem-checkbox-checked-disabled.png");
}

menuitem check:indeterminate,
menuitem radio:indeterminate {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed.png");
}

menuitem check:indeterminate:disabled,
menuitem radio:indeterminate:disabled {
    -gtk-icon-source: url("assets/menuitem-checkbox-mixed-disabled.png");
}

menuitem radio:checked {
    -gtk-icon-source: url("assets/menuitem-radio-checked.png");
}

menuitem radio:checked:disabled {
    -gtk-icon-source: url("assets/menuitem-radio-checked-disabled.png");
}
