###################################
# XFCE-specific styles and colors #
###################################

# Whisker-Menu theming
style "darkback"
{
	bg[NORMAL]   = @bg_color
	bg[ACTIVE]   = @selected_bg_color
	bg[PRELIGHT] = @selected_bg_color
	fg[NORMAL]   = @fg_color
	fg[ACTIVE]   = @selected_fg_color
	fg[PRELIGHT] = @selected_fg_color
}
widget "whiskermenu-window*" style "darkback"

style "darktree"
{
	base[NORMAL] = @bg_color
	base[ACTIVE] = @selected_bg_color
	text[NORMAL] = @fg_color
	text[ACTIVE] = @selected_fg_color
}
widget "whiskermenu-window*TreeView*" style "darktree"

# Xfce-desktop text settings
# style "xfdesktop-icon-view" 
# {
#	XfdesktopIconView::label-alpha = 0

# Text colors you can delete these if you want you use gtk theme colors
#	fg[NORMAL]   = @fg_color
#	fg[SELECTED] = @fg_color
#	fg[ACTIVE]   = @fg_color
# }

style "xfdesktop-icon-view"
{
    XfdesktopIconView::label-alpha = 0
    XfdesktopIconView::selected-label-alpha = 100
    XfdesktopIconView::shadow-x-offset = 0
    XfdesktopIconView::shadow-y-offset = 1
    XfdesktopIconView::selected-shadow-x-offset = 0
    XfdesktopIconView::selected-shadow-y-offset = 1
    XfdesktopIconView::shadow-color = "#000000"
    XfdesktopIconView::selected-shadow-color = "#000000"
    XfdesktopIconView::shadow-blur-radius = 2
    XfdesktopIconView::cell-spacing = 2
    XfdesktopIconView::cell-padding = 6
    XfdesktopIconView::cell-text-width-proportion = 1.9
  		  
    fg[NORMAL] = @selected_fg_color
    fg[ACTIVE] = @selected_fg_color		
}

widget_class "*XfdesktopIconView*" style "xfdesktop-icon-view"

# Xfce-panel bg & text colors settings
style "panel"
{
	xthickness = 0
	ythickness = 0

	bg[NORMAL]      = @base_color
	bg[ACTIVE]      = @base_color
	bg[PRELIGHT]    = @base_color
	bg[SELECTED]    = @base_color

	fg[NORMAL]      = @fg_color
	fg[PRELIGHT]    = @fg_color
	fg[ACTIVE]      = @fg_color
	fg[SELECTED]    = @fg_color

	text[NORMAL]    = @fg_color
	text[PRELIGHT]  = @fg_color
	text[ACTIVE]    = @fg_color
	text[SELECTED]  = @fg_color
}

style "panel-text"
{
	fg[NORMAL]      = @fg_color
	fg[PRELIGHT]    = @fg_color
	fg[ACTIVE]      = @fg_color

	text[NORMAL]    = @fg_color
	text[PRELIGHT]  = @fg_color
	text[ACTIVE]    = @fg_color
}

widget "*PanelWidget*"              style "panel"
widget "*PanelApplet*"              style "panel"
widget "*fast-user-switch*"         style "panel"
widget "*CPUFreq*Applet*"           style "panel"
widget "*TopMenu*"                  style "panel"
class "PanelApp*"                   style "panel"
class "PanelToplevel*"              style "panel"
widget_class "*PanelToplevel*"    	style "panel"
widget_class "*notif*"              style "panel"
widget_class "*Notif*"              style "panel"
widget_class "*Tray*"               style "panel"
widget_class "*tray*"               style "panel"
widget_class "*computertemp*"       style "panel"
widget_class "*Applet*Tomboy*"      style "panel"
widget_class "*Applet*Netstatus*"   style "panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"       style "panel"
widget_class "*Notif*Brasero*"      style "panel"

# XFCE panel theming.
widget "*Xfce*Panel*"               style "panel"
class "*Xfce*Panel*"                style "panel"

widget_class "*Panel*MenuBar*"      style "panel-text"
widget_class "*Panel*<GtkMenuBar>*" style "panel-text"
widget "*.clock-applet-button.*"    style "panel-text"
widget "*PanelApplet*"              style "panel-text"
